html
  head
    meta(content='text/html; charset=UTF-8', http-equiv='Content-Type')
    title Fat Free CRM
    //
       home : index 
    link(href='/stylesheets/modalbox.css?body=1', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/facebooklist.css?body=1', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/rails.css?body=1', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/safari.css?body=1', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/base.css?body=1', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/header.css?body=1', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/common.css?body=1', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/chosen.css?body=1', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/ffcrm_chosen.css?body=1', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/fields.css?body=1', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/application.css?body=1', media='screen', rel='stylesheet', type='text/css')
    link(href='/stylesheets/print.css?body=1', media='print', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/favicon.ico', type='image/x-icon')

    script(src='/javascripts/jquery.js?body=1', type='text/javascript')
    //script(src='/javascripts/jquery-noconflict.js?body=1', type='text/javascript')
    script(src='/javascripts/prototype.js?body=1', type='text/javascript')
    script(src='/javascripts/effects.js?body=1', type='text/javascript')
    script(src='/javascripts/controls.js?body=1', type='text/javascript')
    script(src='/javascripts/dragdrop.js?body=1', type='text/javascript')
    script(src='/javascripts/modalbox.js?body=1', type='text/javascript')
    script(src='/javascripts/crm.js?body=1', type='text/javascript')
    script(src='/javascripts/crm_classes.js?body=1', type='text/javascript')
    script(src='/javascripts/crm_loginout.js?body=1', type='text/javascript')
    script(src='/javascripts/chosen.proto.min.js?body=1', type='text/javascript')
    script(src='/javascripts/crm_fields.js?body=1', type='text/javascript')
    script(src='/javascripts/calendar_date_select/calendar_date_select.js?body=1', type='text/javascript')
    script(src='/javascripts/crm_chosen.js?body=1', type='text/javascript')
    script(src='/javascripts/search.js?body=1', type='text/javascript')
    script(src='/javascripts/lists.js?body=1', type='text/javascript')
    //script(src='/javascripts/application.js?body=1', type='text/javascript')
    meta(content='authenticity_token', name='csrf-param')
    meta(content='TifYUyu7mQdAslqjuCBrRgL3L9RES8VcOQhUz0ZB+1U=', name='csrf-token')
     
    
 
    
  
  body!= body
