<style>
    .mainBox{
        margin: auto;
        position: absolute;
        width: 500px;
        top: 520px; left: 125px; bottom: 0; right: 0;
    }.active{
        width: 120px;
        text-align: center;
        font-family: monospace;
        font-size: 10px;
    }
</style>
<div class='mainBox'>
    <ul class="nav nav-pills">
        <li class="active">
            <a href="http://crm.blinfo.se">crm</a>
        </li>
        <li class="active">
            <a href="http://localhost:8084/eonadmin">eon</a>
        </li>
        <li class="active">
            <a href="http://blinfo.se">blinfo shop</a>
        </li>
    </ul>

    <div style="margin-top: 20px;">
        <ul class="nav nav-pills">
            <li class="active">
                <a href="http://crm.blinfo.se">crm</a>
            </li>
            <li class="active">
                <a href="http://localhost:8383/eonadmin/index.html#/">eon</a>
            </li>
            <li class="active">
                <a href="http://www.blinfo.se/">blinfo shop</a>
            </li>
        </ul>
    </div>
</div>