<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Blinfo Session Service</display-name>
    <servlet>
        <servlet-name>se.blinfo.conf.SessionServiceApp</servlet-name>
        <init-param>
            <param-name>com.sun.jersey.spi.ContainerReequestFilters</param-name>
            <param-value>com.sun.jersey.api.container.filter.loggingFilter;se.blinfo.rest.filter</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>se.blinfo.conf.SessionServiceApp</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>se.blinfo.rest.filter.RequestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/resources/*</url-pattern>
    </filter-mapping>
</web-app>
