<div class="main-box clearfix">
    <header class="main-box-header clearfix">
        <h2>user name</h2>
    </header>
    <div class="main-box-body clearfix profile-user">
      <img src="images/user.png" alt="" class="profile-user-img img-responsive center-block"> 
        <div class="profile-user-role">
            <span class="label label-danger">Admin User</span>
        </div>
        <div class="profile-since">
            Member since: Jan 2012
        </div>
        <div class="profile-details">
            <ul class="fa-ul">hello@email.pt</span></li>
            </ul>
        </div>
    </div>
</div>