<header>
<div class="db-page-header">
	<h1>Users</h1>
    <p>{{ message }}</p>
</div>
</header>
<div class="db-page-content">	
 <input class="form-control" type="text" ng-model="query">
  <select ng-model="orderProp" class="form-control">
      <option value="name">Alphabetical</option>
      <option value="age">Newest</option>
    </select>
    
 <div class="row">
  	<div class="col-md-12">
    
      <div class="panel panel-default">
			<div class="panel-body">
              		<div class="row">
                      <div class="col-xs-12 col-sm-4 text-center">
                                <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="" class="center-block img-circle img-responsive">
                                <ul class="list-inline ratings text-center" title="Ratings">
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                  <li><a href="#"><span class="fa fa-star fa-lg"></span></a></li>
                                </ul>
                        </div><!--/col--> 
                      
                      
                        <div class="col-xs-12 col-sm-6">
                            <h2>Mike Anamendolla</h2>
                            <p><strong>About: </strong> Web Designer / UI. </p>
                            <p><strong>Hobbies: </strong> Read, out with friends, listen to music, draw and learn new things. </p>
                            <p><strong>Skills: </strong>
                                <span class="label label-info tags">html5</span> 
                                <span class="label label-info tags">css3</span>
                                <span class="label label-info tags">jquery</span>
                                <span class="label label-info tags">bootstrap3</span>
                            </p>
                        </div><!--/col-->          
                       
<div class="col-xs-12 col-sm-2">
<div class="row">
                        <div class="">
                            <h2><strong> 20,7K </strong></h2>                    
                            <p><small>Followers</small></p>
                            <button class="btn btn-success btn-block"><span class="fa fa-plus-circle"></span> Follow </button>
                        </div><!--/col-->
                        </div>
                        <div class="row">
                        <div class="">
                            <h2><strong>245</strong></h2>                    
                            <p><small>Following</small></p>
                            <button class="btn btn-info btn-block"><span class="fa fa-user"></span> View Profile </button>
                        </div><!--/col-->
                        </div>
                        <div class="row">
                        <div class="">
                            <h2><strong>43</strong></h2>                    
                            <p><small>Snippets</small></p>
                            <button type="button" class="btn btn-primary btn-block"><span class="fa fa-gear"></span> Options </button>  
                        </div><!--/col-->
                        </div>
                        </div>
              		</div><!--/row-->
              </div><!--/panel-body-->
          </div><!--/panel-->

    
    
    </div>
  </div>   
    
    
    
    
    
    
    
    
    
<ul>
  <li ng-repeat="users in users | filter:query | orderBy:orderProp" class="thumbnail">
    <div class="row">
      <div class="col-md-2"><a href="#/about/{{users.id}}" class="thumb"><img class="img-circle" ng-src="{{users.imageUrl}}"></a></div>
      <div class="col-md-10"> <a href="#/about/{{users.id}}">{{users.name}}</a>
        <p>{{users.snippet}}</p>
        <button class="btn btn-primary" type="button" ng-click="showmodel()">Buy this</button>
      </div>
    </div>
  </li>
</ul>
</div>





